body, html{
	background: url(../images/bg1.jpg) no-repeat center center fixed;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: auto 0px;
	font-family: 'montserrat', sans-serif;
}

/********************************************************** navigation ***********************************************************/

header{
	width: 100%;
	background: #000;
	cursor: pointer;

	-webkit-box-shadow:rgba(0, 0, 0, 0.3) 0px 5px 5px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
	-moz-box-shadow:rgba(0, 0, 0, 0.3) 0px 5px 5px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
	-o-box-shadow:rgba(0, 0, 0, 0.3) 0px 5px 5px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
	box-shadow:rgba(0, 0, 0, 0.3) 0px 5px 5px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
}

header ul{
	display: flex;
	justify-content: flex-end;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0;
}

header ul li{
	list-style: none;
	position: relative;
	padding: 10px 5px;
	transition: 0.5s;
	box-sizing: border-box;
	border-right: 1px solid rgba(255, 255, 255, 0.2);
}
header ul li:hover{
	background: #DD0000;
}
header ul li:last-child{
	border-right: none;
}

header ul li a{
	text-decoration: none;
	padding: 0 20px;
	color: #FFE5FF;
}
header ul li a:hover{
	text-decoration: none;
	color: #FFE5FF;
}

/***********************************         main        ************************************/
.upper{
	height: 80vh;
	display: flex;
	justify-content: flex-end;
}
.textLead{
	font-size: 50px;
	font-weight: 800;
}
.lower{
	display: flex;
	justify-content: center;
}


p{
	float: right;
	color: #FFE5FF;
	font-weight: 500;
	font-size: 25px;
	margin-top: 50px;
	text-shadow: 1px 1px 2px black;
}
.btn{
	border-radius: 40px;
	padding: 15px;
	border: 2px solid #FFE5FF;
}
button{
	float: right;
	color: #FFE5FF;
	background: #D02222;

	-webkit-box-shadow:rgba(0, 0, 0, 0.3) 0px 5px 5px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
	-moz-box-shadow:rgba(0, 0, 0, 0.3) 0px 5px 5px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
	-o-box-shadow:rgba(0, 0, 0, 0.3) 0px 5px 5px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
	box-shadow:rgba(0, 0, 0, 0.3) 0px 5px 5px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
}
button:hover{
	background: #AE0000;
}

@media (max-width: 410px){
	.upper{
		height: 80vh;
		display: flex;
		justify-content: center;
		padding-top: 80px;
	}
	.lower{
		margin-bottom: 40px;
}
}

